{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="secret-code-body">
    <canvas id="background-canvas" class="secret-code-background"></canvas>
    <div class="container">
        <div class="secret-code-container">
            <div class="secret-code-text">
                <h1>Paskutinis testa<i>s</i></h1>
                <p>Per visą laiką po puslapi buvo palėptos raidės jei jas visas pamatei ir uzsirašei iš eilės įvesk jas čia jei ne tai nežinau čia jau tavo problema. Teks grižt atgal :DD</p>
            </div>
            <div class="secret-code-input-container">
                <input type="text" id="geussfield" class="geussfieldcode">
                <div class="secret-code-small-text">
                    <p>Ar buvai pakankamai atidus?</p>
                </div>
                <button value="Tikrinti" id="submitfield" class="submitfield submitfield-code btn btn-outline-success">Tikrinti</button>
                <div class="btn-to-end-container" id="btn-to-end-container">
                    <form action="{% url 'end' %}">
                        <input type="submit" id="correct-code" value="Maladiec" class="btn btn-primary btn-to-end">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script  type="text/javascript" src="{% static 'js/background.js' %}"></script>
    <script  type="text/javascript" src="{% static 'js/secretcode.js' %}"></script>
</body>
</html>
{% endblock %}